


<mat-toolbar color="primary">
	<mat-toolbar-row style="display: flex; align-items: center; justify-content: space-between; height: unset; ">
		<div style="align-items: center; display: flex; ">
			<a routerLink="/content-full/home"  style="align-items: center; display: flex; ">
				<img src="{{ env.assets.bucket }}/images/greysacale-transparent-wj.png" style="height: 24px; " alt="">
			</a>
		</div>
		<div>
			<div  style="display: flex"></div>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
<div style="font-size: .5em; text-align: center; background-color: black; color: ghostwhite; ">
	Copyright &copy; WeJaFu 2019. All rights reserved.
</div>
