

<div class="cms-bg-primary" style="display: flex; align-items: center; justify-content: space-around; min-height: 32px ">
	<a routerLink="/content/home" style="display: flex; align-items: center; ">
		<img src="{{env.assets.bucket}}/images/greysacale-transparent-wj.png" style="height: 24px;" alt="">
	</a>
</div>
<div style="font-size: .5em; text-align: center; background-color: black; color: ghostwhite; ">
	Copyright &copy; WeJaFu 2019. All rights reserved.
</div>

<!--div *ngIf="rows$" >
	<div *ngFor="let row of rows$ | async">
		<div [outerHTML]="row.value"></div>
	</div>
</div-->
